extends ../template

block variables
    - var title = 'Блог'

block content
    include ../common/header.pug
    .triangle
        .triangle__left
            svg(width="100%" height="100" viewBox="0 0 900.006 164.986" preserveAspectRatio="none")
                path(d="M0.01,0l899.997,159.008v854.979H0L0.01,0z").triangle_fill_white
        .triangle__right
            svg(width="100%" height="100" viewBox="0 0 900.006 160.986" preserveAspectRatio="none")
                path(d="M0,155.008L900.331,0l-0.005,1009.986H0V155.008z").triangle_fill_white
    .block-title.block-title__blog-page#blockDown
        .block-title__title.block-title__title-color-black.block-title__title-bigger Блог
        .block-title__title.block-title__description-color-gray Статьи, которые я написал
    section.section.blog
        include ../common/menu-left.pug
        aside.aside.blog__left-col
            nav.left-col__blog-menu#fixmenu
                ul.blog-menu__list
                    -
                        var Menuitems = [
                            ['first', 'Самое важное в SASS'],
                            ['second', 'Приемы в верстке, без которых не обходится ни один сайт'],
                            ['third', 'Самый необходимый набор Gulp плагинов'],
                            ['fourth', 'Почему я выбрал Jade']
                        ]
                    each Menuitem in Menuitems
                        li.blog-menu___item.blog-menu___item-color-white
                            a(href=`#${Menuitem[0]}` data-scroll=`${Menuitem[0]}`).blog-menu__link.blog-menu__link-color-gray #{Menuitem[1]}
        article.article.blog__right-col
            ul.article__list
                - 
                    var articles = [
                        ['first', 'Самое важное в SASS', '01.09.2017', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.', '/assets/images/img/code.png'],
                        ['second', 'Приемы в верстке, без которых не обходится ни один сайт', '02.09.2017', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.', ''],
                        ['third', 'Самый необходимый набор Gulp плагинов', '03.09.2017', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.', ''],
                        ['fourth', 'Почему я выбрал Jade', '04.09.2017', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.', ''],
                    ]
                each article in articles
                    li.article__item
                        .article-blog
                            div.article__title(id=`${article[0]}` data-anchor=`${article[0]}`)
                                h2 #{article[1]}
                                a(id=`${article[0]}`)
                            .article__date
                                span #{article[2]}
                            .article__text
                                p #{article[3]}
                                p #{article[3]}
                                img(src=`${article[4]}`, alt="")
    include ../common/footer.pug
